<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0"/>
    </head>
    <body>
        <form method="POST" action="">
            <label for="subject">Subject</label><br>
            <input name="subject" type="text" /><br>
            <label for="content">Content</label><br>
            <textarea name="content" rows="24" type="text"></textarea><br>
            <button>New Thread</button>
        </form>
        {{#each this}}
            <li>
                <a href="/b/{{this.board}}/{{this.post_number}}">{{this.content}}</a>
            </li>
        {{/each}}
    </body>
</html>
