<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0"/>
    </head>
    <body>
        <form method="POST" action="">
            <label for="admin_name">Administrator Username</label><br>
            <input name="admin_name" type="text" /><br>
            <label for="admin_password">Administrator Password</label><br>
            <input name="admin_password" type="password" /><br>
            <label for="admin_password_confirm">Confirm Password</label><br>
            <input name="admin_password_confirm" type="password" /><br>
            <button name="action" type="submit">Complete Install</button>
        </form>
    </body>
</html>
